@import url(//fonts.googleapis.com/css?family=Open+Sans:400,700);
html {
    min-height: 100%;

    body {
        margin: 0;
        height: 100%;
        font-family: 'Open Sans', sans-serif;
    }
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    background-color: rgba(255, 255, 255, 0.8);

    * {
        margin: auto;
    }

    h1 {
        text-align: center;
    }
}

svg {
    path {
        stroke: white;
        stroke-width: 2;
        fill: none;
    }
    .frequency {
        rect {
            fill: white;
        }
    }

    &.light {
        path {
            stroke: black;
        }
        .frequency {
            rect {
                fill: black;
            }
        }
    }
}
