@import url(//fonts.googleapis.com/css?family=Open+Sans:400,700);
html {
    min-height: 100%;

    body {
        margin: 0;
        height: 100%;
        font-family: 'Open Sans', sans-serif;
    }
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.8);

    * {
        margin: auto;
    }

    h1 {
        text-align: center;
    }
}

.pullout-icon {
    position: absolute;
    top: 5;
    left: 5;
    cursor: pointer;
}

.pullout {
    @pullout-width: 250px;

    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: @pullout-width;
    background-color: #ffffff;
    box-shadow: 0 0 10px #333333;
    transition: left 0.5s;
    overflow-y: auto;

    &.hidden {
        left: calc(-@pullout-width - 10px);
    }

    text-align: center;

    .container {
        margin: 10px;
    }

    h4 {
        margin: 0;
    }

    ul {
        text-align: left;
        margin: 0;
        padding: 0;

        li {
            margin: 0.2em 0;
            list-style: none;

            &:first-child {
                background-color: #ADD1FF;
                font-size: 1.2em;

                &:before {
                    content: "Now Playing";
                    font-size: 0.7em;
                    text-align: center;
                }
            }

            .file-name {
                display: inline-block;
                white-space: nowrap;
                overflow-x: hidden;
                text-overflow: ellipsis;
                width: calc(90%);
            }
            .file-remove {
                display: inline-block;
                overflow: hidden;
                cursor: pointer;
                width: 10px;
            }
        }
    }

    .close {
        position: absolute;
        top: 0;
        right: 5px;

        a {
            cursor: pointer;
            text-decoration: none;
            color: #000000;

            &:visited, &:active {
                color: #000000;
            }
        }
    }

    .drag-drop-message {
        margin: 2em 0;
        font-size: 0.8em;
    }

    .play-pause {
        cursor: pointer;
    }
}

svg {

    &#svg {
        background-color: #000000;
    }

    path {
        stroke: white;
        stroke-width: 2;
        fill: none;
    }
    .frequency {
        rect {
            &.frequency-bar {
                fill: black;
                fill: url(#freq-gradient) !important;
            }

            &.background {
                fill: none;
                stroke: none;
            }
        }
    }

    &.light {
        path {
            stroke: black;
            stroke: url(#waveform-gradient);
        }
        .frequency {
            rect {
                &.frequency-bar {
                    fill: black;
                }
            }
        }
    }
}
